<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>limitsDifference</key>
		<integer>8925</integer>
		<key>percentage</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>27325</integer>
		<key>percentage</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>51600</integer>
		<key>percentage</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>95400</integer>
		<key>percentage</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>215100</integer>
		<key>percentage</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>1650</integer>
		<key>percentage</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<real>400000</real>
		<key>percentage</key>
		<real>39.6</real>
	</dict>
</array>
</plist>
